@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

html {
  --primary-accent: #fcaf3f;
  --primary-accent-shadow: #d59a42;
  font-family: "Poppins", sans-serif;
}

/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* GLOBAL ELEMENTS */
body {
  background-color: #f5f5f5;
  padding-bottom: 10rem;
}

header {
  background-color: #ff5722;
  display: flex;
  gap: 10px;
  padding: 14px 10px;
  color: white;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #ff5722;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
  text-align: center;
}

/* FORM */
.basicForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.basicForm label {
  font-size: 13px;
  margin-left: 10px;
}

.basicForm label span {
  color: #ff5722;
}

.basicForm input,
.basicForm textarea {
  padding: 12px 12px;
  font-family: "Poppins", sans-serif;
  border: solid #ff5722;
  border-width: 1px 0px 0px 1px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttonNofill {
  border: solid 3px #03a9f4;
  border-radius: 5px;
  padding: 12px 28px;
  gap: 10px;
  background-color: transparent;
  color: #03a9f4;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.buttonFill {
  border: none;
  border-radius: 5px;
  width: fit-content;
  align-self: center;
  padding: 12px 40px;
  background-color: #03a9f4;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.form-group {
  position: relative;
  margin-top: 15px;
}

.error-message {
  display: none;
  background-color: #f8eae5;
  border: solid 1px #ec977d;
  border-radius: 4px;
  margin-top: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.error-message p {
  font-size: 12px;
}

.button-error {
  display: none;
  font-size: 12px;
  color: #ff5722;
  margin-top: 10px;
  text-align: center;
}
